<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <h1>Admin Dashboard</h1>

          <div class="row">
            <div class="col-lg-6">
              <div class="card timer-card">
                <div class="card-body">
                  <div class="card-block ico-countdown info-block">
                    <div class="title">NEXT ICO WILL BEGIN IN</div>
                    <div class="countdown">
                      <div class="clock-item">
                        <div class="card">{{ countdown.days }}</div>
                        <label>DAYS</label>
                      </div>
                      <div class="clock-item">
                        <div class=" card">{{ countdown.hours }}</div>
                        <label>HOURS</label>
                      </div>
                      <div class="clock-item">
                        <div class="card">{{ countdown.minutes }}</div>
                        <label>MINUTES</label>
                      </div>
                      <div class="clock-item">
                        <div class="card"> {{ countdown.seconds }}</div>
                        <label>SECONDS</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 ">
                <div class="card info-card">
                    <div class="card-body">
                        <div class="card-block info-block">
                            <div class="title">Total BchConnect Coin</div>
                            <div class="value">{{ ico_settings.ico_volume }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card info-card">
                    <div class="card-body">
                        <div class="card-block info-block">
                            <div class="title">Sold BchConnect Coin</div>
                            <div class="value">{{ ico_settings.sold_coins }}</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
