<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Referrals</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <ul class="treeview">
                        <li class="root-node">
                            <labeL>You</labeL>
                            <app-referral-tree class="root-tree" [data]="referrals" [key]="key"></app-referral-tree>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
