.image-block{
    padding: 50px;
}
.image-block img{
    max-width: 100%;
}
.ico-countdown{
    text-align: center;
}
.ico-countdown .countdown{
    margin: 20px 0;
}
.ico-countdown .clock-item {
    display: inline-block;
    text-align: center;
}
.ico-countdown .clock-item .card {
    font-size: 70px;
    padding: 16px;
}
.ico-countdown .by-button{
    border-radius: 1.5rem;
    background-color: #4285f4 !important;
}

@media (max-width: 450px) {
  .ico-countdown .clock-item .card{
    font-size: 16px;
    padding: 16px;
  }
  .ico-countdown .clock-item label{
    font-size: 11px;
  }
}
