<nav class="top-navbar navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>

            </div>
        </div>
        <div class="navbar-container">
            <div class="text-white">
                1 BTC = {{ courses.BTC }} USD || 1 LTC = {{ courses.LTC }} USD <!--|| 1 ABC = 0.1 USD-->
            </div>
        </div>
    </div>
</nav>