<div class="row login-container">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="card  text-center width-800">
      <div class="card-header">
        <div class="d-inline-block float-left">
          <a routerLink="/">
            <img src="../../../assets/img/ABClogo.png">
          </a>
        </div>
        <div class="float-right login-menu">
          <a routerLink="/register"
             class="display-inline-block border-bottom border-white text-bold-600 text-dark">Sign Up</a>
          <a routerLink="/login"
             class="display-inline-block border-bottom border-blue text-bold-600 text-dark">Sign In</a>
        </div>
      </div>
      <div class="card-body bg-light">
        <div class="card-block">
          <h4 class="d-block login-header">Reset you password</h4>
          <form *ngIf="!mailSent && !resetPass" class="offset-md-3 col-md-6" name="form" (ngSubmit)="f.form.valid && sendEmail()" #f="ngForm" novalidate>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <div class="position-relative has-icon-left">
              <input type="text" class="form-control text-dark" id="email" name="email" [(ngModel)]="email_model.email"
                     #email="ngModel"
                     placeholder="Email"
                     email
                     required/>
                <div  class="form-control-position">
                  <i  class="ft-mail"></i>
                </div>
              </div>
              <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
            </div>
            <div class="form-group">
              <re-captcha (resolved)="resolved($event)" [(ngModel)]="recapcha"  [ngModelOptions]="{standalone: true}"
                          siteKey="6LfVFDwUAAAAANFNuu1Qqhw9jZBUMZex_p3UUkd_"></re-captcha>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="login-button col-sm-10 btn btn-lg btn-raised btn-round btn-info">Reset</button>
              <img *ngIf="loading"
                   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
            <div class="form-group">
              <p>Don't have an account? <a routerLink="/register" class="blue sign-up-text">Sign Up</a></p>
              <p><a  routerLink="/login">Go Back</a></p>
            </div>
          </form>
          <div *ngIf="mailSent && !resetPass">
            <h2>Email Sent</h2>
            <p>We've sent a message to the email address {{ email_model.email }} .Please follow the instructions provided in the message to reset your password.</p>
          </div>
          <form [hidden]="!resetPass" class="offset-md-3 col-md-6" name="form_fa" (ngSubmit)="fa.form.valid && resetPasswords()" #fa="ngForm" novalidate>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <div class="form-group col-md-12"
                 [ngClass]="{ 'has-error': fa.submitted && !password.valid && password.value != confirm_password.value }">
              <div class="position-relative has-icon-left">
                 <input type="password" class="form-control  text-dark" id="password" name="password"
                     [(ngModel)]="reset_model.password"
                     pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                     #password="ngModel"
                     placeholder="New password"
                     maxlength="32"
                     required/>
                <div  class="form-control-position">
                  <i  class="ft-lock"></i>
                </div>
              </div>
              <div *ngIf="password.value != '' && !password.valid" class="help-block text-danger">Password
                mast contain 1 upper case, 1 lower case, 1 numeric, 1 symbol.
              </div>
              <div *ngIf="password.value != '' && reset_model.password.length < 8 "
                   class="help-block text-danger">Passwords min
                length 8 chars
              </div>
            </div>

            <div class="form-group col-md-12"
                 [ngClass]="{ 'has-error': fa.submitted && !confirm_password.valid }">
              <div class="position-relative has-icon-left">
              <input type="password" class="form-control  text-dark" id="confirm_password"
                     name="confirm_password"
                     [(ngModel)]="reset_model.confirm_password"
                     #confirm_password="ngModel"
                     placeholder="Confirm password"
                     required/>
                <div  class="form-control-position">
                  <i  class="ft-lock"></i>
                </div>
              </div>
              <div *ngIf="fa.submitted && !confirm_password.valid" class="help-block text-danger">Confirm
                password is
                required
              </div>
              <div *ngIf="confirm_password.value != '' && password.value != confirm_password.value"
                   class="help-block text-danger">Passwords not match
              </div>
              <div *ngIf="confirm_password.value != '' && reset_model.confirm_password.length < 6"
                   class="help-block text-danger">
                Passwords min length 6 chars
              </div>
            </div>

            <div class="form-group">
              <button [disabled]="reset_loading" class="login-button col-sm-10 btn btn-lg btn-raised btn-round btn-info">Save pass</button>
              <img *ngIf="reset_loading"
                   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
            <div class="form-group">
              <p>Don't have an account? <a routerLink="/register" class="blue sign-up-text">Sign Up</a></p>
              <p><a  routerLink="/login">Go Back</a></p>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
