footer{
    padding: 0;
    color: #fff;
}
@media (min-width: 992px){
    .confirmation-container .card{
        margin-top: 100px;
    }
}
@media screen and (max-width: 445px) {
    re-captcha iframe {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        -moz-transform: scale(0.77);
        -ms-transform: scale(0.77);
        -o-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
    }
    .login-container .card-header img {
        width: 69px;
        height: 69px;
    }
    .sign-up-text{
        display: block;
    }
}
.thank{
    font-size: 1.5rem;
}